/*====================================================ALL====================*/
:root {

    --rot:rgba(255, 0, 67, 1);
    --text-main-color: rgba(255, 255, 255, 0.55);
    --background-blue: rgba(0, 25, 74, 1);
    --white: rgba(255, 255, 255, 1);
    --black: rgba(0, 25, 74, 1);
}



.container{
width: 1170px;
margin: 0 auto;
padding: 0 15px;

}


body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
background-color: rgba(245, 245, 245, 0.897);
    
}




li {
    list-style-type: none;

  }       


  p,
h1,
h2,
h3,
h4,
h5,
h6 {
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}




.flex {
    display: flex;
}

/*===================================================HEADER=================================*/

.header{
    padding-top: 50px;
}


.logo{
    color:var(--rot);
    font-size: 20px;
    font-weight: 700;
    line-height: 1,1;
}


.try_beta{
    font-size: 14px;
    font-weight: 700;
    line-height: 1.1;
    text-decoration-skip-ink: none;
    color: var(--white);
background-color: var(--rot);
width: 94px;
height: 46px;
gap: 0px;
border-radius: 23px 23px 23px 23px;
opacity: 0px;


}


/*===================================================SECTION(1)=================================*/


























/*===================================================SECTION(2)=================================*/

.android-iphone{
    width: 60px;
    height: 60px;
}


.mac-windows{
    width: 102px;
    height: 43px;


}

.download-download{
    width: 21px;
    height: 20px;
}



















/*===================================================SECTION(3)=================================*/
















/*===================================================SECTION(4)=================================*/

.stuff{

   align-items: center;
}





.sharing{
    font-size: 35px;
    font-weight: 500;
    line-height: 1.4;
    color: var(--black);
}



.sharing-text{
    font-size: 18px;
    font-weight: 300;
    line-height: 1.5;
    color: var(--black);

}




















.stuff-img{
    width: 60px;
    height: 60px;
}
















.card-list-item {
    width: 392px;
    padding: 33px;
    height: 294px;
    flex-shrink: 0;
    border-radius: 15px;
    background: var(--backgroud-color);
    border: 1.5px solid rgba(255, 255, 255, 0.1);
    cursor: pointer;
  background-color: rgba(255, 255, 255, 1);
}



.card-list-item:hover {
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(40, 48, 54, 0.60);
    background-image: radial-gradient(ellipse at top right, rgba(254, 135, 84, 0.307), rgba(255, 255, 255, 0) 25%);
    backdrop-filter: blur(100px);
    transform: translateY(-20px);
    transition: 0.3s;
}



.card-list-item:hover h3 {
    color: rgba(255, 255, 255, 90%);
        font-size: 24px;
        font-weight: 500;
        line-height: 1.5;
    }
    
    
    

    
    
    .card-list-item:hover p {
        color: rgba(255, 255, 255, 78%);
        font-size: 16px;
        font-weight: 400;
        line-height: 1.8;
    }
    













.position-list{
    display: flex;
}
.position{
    width: 200px;
    height: 200px;
}

.position:nth-child(1){
background-color: red;

position: static;
/* position: static;---позиція за змовчуванням*/
}
.position:nth-child(2){
    background-color: lime;


    position: relative;
    /*position: relative;---відносне позицінування,може зміщуватись у різні сторони 
    відносно батькаале простір від нього не зникає*/
}

.position:nth-child(3){
    background-color: blue;

    position: absolute; 
    /*position: absolute; --- */
}

.position:nth-child(4){
    background-color: aqua;


    position: fixed;
    /*position: fixed;---*/
}

.position:nth-child(5){
    background-color: yellow;

    position: static;
    /*position: static;---*/
}
















.section > h2{
    background-color: lime;
    position: sticky;
top: 0;

}


















































